In [19]:
import pandas as pd
import numpy as np

In [20]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [21]:
M = pd.read_csv("Movie Reviews.csv", index_col='Name')

In [22]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [24]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

In [15]:
recs = get_recs('The Fault in Our Stars', M, 2)

# Question 1: What movie is most Similar to 'The fault in our stars' (60 pts)
# Answer = Interstellar

In [16]:
recs[:2]

[('Interstellar', 0.22684077834314326), ('Malificent', 0.21073478138933158)]

# Question 2: Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

Answer # Interstellar has a mean of 4.555556

In [28]:
M.describe()

C:\Users\CG\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
count,63.000000,71.000000,81.000000,58.000000,84.000000,87.000000,58.000000,47.000000,72.000000,72.000000,72.000000,57.000000,61.000000,38.000000,29.000000,74.000000
mean,4.150794,3.352113,3.882716,3.413793,4.070238,3.660920,3.370690,3.963830,3.505556,4.555556,3.777778,3.929825,3.263934,3.644737,3.637931,3.750000
std,0.716369,0.887993,0.803397,1.060197,0.850907,1.177537,0.905928,1.140447,0.985513,0.724596,0.941563,0.956363,0.829263,0.922012,0.971896,1.185674
min,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

# Question 3: Bonus Question... For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

#For the lack of coding skills I would do the following
 1) set all values for the movies I have seen to Zero 0
 2) set the vale of all movies I have NOT seen to 5
 3) search for all movies that have similar ratings